body {
  font-family: Open Sans,sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #636b6f;
  background-color: #f5f8fa;
}


.nav-tabs {
  .nav-link {
    &:active {
      background-color: #f5f8fa;
    }
  }

}


.nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}




.order-arrow {
  color: #d3d3d3;
}

.order-arrow-disabled {
  opacity: 0;
}

.navbar-brand {
  color: white !important;
}

.input-group-addon.primary {
  color: rgb(255, 255, 255);
  background-color: rgb(50, 118, 177);
  border-color: rgb(40, 94, 142);
}

.input-group-addon.success {
  color: rgb(255, 255, 255);
  background-color: rgb(92, 184, 92);
  border-color: rgb(76, 174, 76);
}

.input-group-addon.info {
  color: rgb(255, 255, 255);
  background-color: rgb(57, 179, 215);
  border-color: rgb(38, 154, 188);
}

.input-group-addon.warning {
  color: rgb(255, 255, 255);
  background-color: rgb(240, 173, 78);
  border-color: rgb(238, 162, 54);
}

.input-group-addon.danger {
  color: rgb(255, 255, 255);
  background-color: rgb(217, 83, 79);
  border-color: rgb(212, 63, 58);
}

iframe{
  width: 98vw;
  height: calc(98vw/1.77);
}
